Solutions/Contracts app/Contracts app/Workflows/Whenarowisaddedmodifiedordeleted-ConditionGetarowb-59E57BEB-CA96-EF11-8A68-6045BD0ABE7F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_61216"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "378698be-1089-4b76-ad21-dc206e6f1001"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "crf68_othercontracts",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Compose": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8190d4cc-4fb6-48b3-8da1-8d4f6d9bbe09"
          },
          "type": "Compose",
          "inputs": "@convertFromUtc(utcNow(), 'GMT Standard Time', 'dd/MM/yyyy')"
        },
        "Condition": {
          "actions": {
            "Apply_to_each": {
              "foreach": "@outputs('List_rows')?['body/value']",
              "actions": {
                "Update_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e02088d9-63a4-4f4d-96ef-343369941763"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "crf68_othercontractses",
                      "recordId": "@items('Apply_to_each')?['@odata.id']",
                      "item/a3i_legalnoteslastmodifiednew": "@variables('Todays date GTM format')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "81cd90b4-7fd1-4829-a447-31a59b52c646"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "cdd37b00-5293-4fff-b165-a4b829d26df9"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/crf68_legalnotes']",
                    "@null"
                  ]
                }
              },
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/a3i_legalnoteslastmodifiednew']",
                    "@outputs('Compose')"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "66d91ca5-44e1-4b99-9ee7-a99ec045c973"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "695ce779-f198-43e4-98a5-4604a3186319"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Todays date GTM format",
                "type": "string",
                "value": "@{outputs('Compose')}"
              }
            ]
          }
        },
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "eb91a0a1-c191-414f-8646-f75e0fb4139f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "crf68_othercontractses",
              "$filter": "@triggerOutputs()?['body/crf68_contractid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}