Solutions/Intranet/Intranet/Workflows/IntranetTrainingSignUp-35407DA2-C3DE-ED11-A7C6-002248C6BDFE.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedmicrosoftforms_6077c"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedoffice365_48fa5"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_office365users": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365users_44c48"
        },
        "api": {
          "name": "shared_office365users"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "190f624d-2c00-405e-8fbe-13291478612d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms",
              "operationId": "CreateFormWebhook",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "pMzyl4mYdk6zYJ17Vi32hQFv0Q4iUuhGuA0k6o0cbjJUMzQzQ0YzVkVORDVJRUFDS0w3SUxCNkxTTC4u"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "fb053a58-4355-4aee-99ce-b03aa6c8cfa4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms",
              "operationId": "GetFormResponseById",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "pMzyl4mYdk6zYJ17Vi32hQFv0Q4iUuhGuA0k6o0cbjJUMzQzQ0YzVkVORDVJRUFDS0w3SUxCNkxTTC4u",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Initialize_variable_-_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eb4ce60f-445b-4225-ad11-9c216f73b7c5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@variables('RecipientEmail')",
              "emailMessage/Subject": "New Spot Coaching Sign Up - @{outputs('Get_user_profile_(V2)')?['body/displayName']}",
              "emailMessage/Body": "<p>Hi Gemma, <br>\n<br>\nThere's been a new sign up to the Spot Coaching sessions currently advertised. Here's the details;<br>\n<br>\n<strong>Name</strong>: @{outputs('Get_user_profile_(V2)')?['body/displayName']}<strong><br>\nEmail: </strong>@{outputs('Get_response_details')?['body/responder']}<strong><br>\nDesired Date For Coaching:</strong> @{outputs('Get_response_details')?['body/r1ca5ea58dfcd479c82365f91fa0b34f8']}<br>\n<strong><br>\n</strong>Thanks,<br>\nYour Helpful Robot</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_-_Recipient_Email": {
          "runAfter": {
            "Get_user_profile_(V2)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c6bb248-b34f-423b-b0fd-9fe9c16009f1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RecipientEmail",
                "type": "string",
                "value": "gemma.dunlop@all3media.com"
              }
            ]
          }
        },
        "Get_user_profile_(V2)": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5c4d2280-df1b-425c-8359-c0a5f036868b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365users",
              "operationId": "UserProfile_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
            },
            "parameters": {
              "id": "@outputs('Get_response_details')?['body/responder']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_-_Name": {
          "runAfter": {
            "Initialize_variable_-_Recipient_Email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "713ef0a2-8cde-4565-821b-58c5f5efdbd2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Name",
                "type": "string",
                "value": "@outputs('Get_user_profile_(V2)')?['body/displayName']"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}