SourceCode/Dev/MarketMeetingApp_1_37.zip/Workflows/MarketingMeeting-ReconcileHostrecords-CE8251AF-DA8B-EF11-8A69-002248001850.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_c582d"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d2e4da50-a26c-44d9-b3ff-3987c9b12be7"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_rows:_External_Host_Bookings": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2eefcb96-0433-4f4f-9201-2580c04dbb69"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "a3i_bookingses",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"a3i_bookings\">\n    <attribute name=\"a3i_bookingsid\" />\n    <attribute name=\"a3i_name\" />\n    <attribute name=\"a3i_externalhost\" />\n    <attribute name=\"a3i_event\" />\n    <filter type=\"and\">\n      <condition attribute=\"a3i_event\" operator=\"eq\" uiname=\"MIPCOM 2024\" uitype=\"msevtmgt_event\" value=\"{C1EBD76D-67ED-455E-800A-896253CC6E48}\" />\n      <condition attribute=\"a3i_externalhost\" operator=\"not-null\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows:_External_Host_Bookings')?['body/value']",
          "actions": {
            "List_rows:_External_Host_Records": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c64bb2fc-9bb7-4466-a11f-71ae143220e1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_marketmeetinghostses",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"a3i_marketmeetinghosts\">\n    <attribute name=\"a3i_marketmeetinghostsid\" />\n    <attribute name=\"a3i_name\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"a3i_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"a3i_booking\" operator=\"eq\" uitype=\"a3i_bookings\" value=\"{@{items('Apply_to_each')?['a3i_bookingsid']}}\" />\n    </filter>\n  </entity>\n</fetch>"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Condition": {
              "actions": {
                "Add_a_new_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "2f165af6-2517-43b9-8f2e-fc5da0947bd9"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "a3i_marketmeetinghostses",
                      "item/a3i_name": "@{items('Apply_to_each')?['a3i_name']}-@{items('Apply_to_each')?['a3i_externalhost']}",
                      "item/a3i_Booking@odata.bind": "a3i_bookingses(@{items('Apply_to_each')?['a3i_bookingsid']})",
                      "item/a3i_Event@odata.bind": "msevtmgt_events(@{items('Apply_to_each')?['_a3i_event_value']})",
                      "item/a3i_hostnameplaintext": "@items('Apply_to_each')?['a3i_externalhost']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {
                "List_rows:_External_Host_Records": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@length(outputs('List_rows:_External_Host_Records')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "3d6eb632-8fad-41a6-90f9-893958c6d8fe"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_rows:_External_Host_Bookings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3d06e131-c367-43a6-9562-a1efc32363c9"
          },
          "type": "Foreach"
        },
        "List_rows:_Internal_Host_Bookings": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "948fd583-88bd-4dfb-8cdb-818bd57a554e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "a3i_bookingses",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\">\n  <entity name=\"a3i_bookings\">\n    <attribute name=\"a3i_bookingsid\" />\n    <attribute name=\"a3i_name\" />\n    <attribute name=\"a3i_externalhost\" />\n    <attribute name=\"a3i_event\" />\n    <attribute name=\"a3i_meetinghost\" />\n    <filter type=\"and\">\n      <condition attribute=\"a3i_event\" operator=\"eq\" uiname=\"MIPCOM 2024\" uitype=\"msevtmgt_event\" value=\"{C1EBD76D-67ED-455E-800A-896253CC6E48}\" />\n      <condition attribute=\"a3i_meetinghost\" operator=\"not-null\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each_2": {
          "foreach": "@outputs('List_rows:_Internal_Host_Bookings')?['body/value']",
          "actions": {
            "List_rows:_Internal_Hosts": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9875d928-c034-4b51-8df1-0c2c06b8a090"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_marketmeetinghostses",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"a3i_marketmeetinghosts\">\n    <attribute name=\"a3i_marketmeetinghostsid\" />\n    <attribute name=\"a3i_name\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"a3i_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"a3i_booking\" operator=\"eq\" uitype=\"a3i_bookings\" value=\"{@{items('Apply_to_each_2')?['a3i_bookingsid']}}\" />\n    </filter>\n  </entity>\n</fetch>"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Condition_2": {
              "actions": {
                "Get_a_row_by_ID:_User": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d4dd5469-6349-4069-9140-431f2d0a8544"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "systemusers",
                      "recordId": "@items('Apply_to_each_2')?['_a3i_meetinghost_value']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Add_a_new_row_2": {
                  "runAfter": {
                    "Get_a_row_by_ID:_User": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d2a03201-5e24-48e8-a5b4-a3124cbda5d7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "a3i_marketmeetinghostses",
                      "item/a3i_name": "@{items('Apply_to_each_2')?['a3i_name']}- @{items('Apply_to_each_2')?['_a3i_meetinghost_value']}",
                      "item/a3i_Booking@odata.bind": "a3i_bookingses(@{items('Apply_to_each_2')?['a3i_bookingsid']})",
                      "item/a3i_Event@odata.bind": "msevtmgt_events(@{items('Apply_to_each_2')?['_a3i_event_value']})",
                      "item/a3i_Host@odata.bind": "systemusers(@{items('Apply_to_each_2')?['_a3i_meetinghost_value']})",
                      "item/a3i_hostnameplaintext": "@outputs('Get_a_row_by_ID:_User')?['body/fullname']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {
                "List_rows:_Internal_Hosts": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@length(outputs('List_rows:_Internal_Hosts')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "cfb3f6ca-30b2-4728-895d-a2f72152db97"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_rows:_Internal_Host_Bookings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dee91086-513c-4a14-a317-0cf965444da7"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}