SourceCode/Dev/MarketMeetingApp_1_37.zip/Workflows/MarketMeeting-CheckinTeamsnotification-4B8DD61D-BBF7-EC11-82E6-0022481B5E9E.json
{
  "properties": {
    "connectionReferences": {
      "shared_teams": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedteams_4434d"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "61c70d1d-ff24-4e2c-829c-6e1e3079f04f"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "gblHost_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "gblAttendee_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "gblPhysicalDescription_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "gblHost_Value",
                "gblAttendee_Value",
                "gblPhysicalDescription_Value"
              ]
            }
          }
        }
      },
      "actions": {
        "gblHost": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "164bb38d-65df-4b5d-b6e6-271b65f80b9e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "gblHost",
                "type": "string",
                "value": "@{triggerBody()['gblHost_Value']}"
              }
            ]
          }
        },
        "gblAttendee": {
          "runAfter": {
            "gblHost": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f9b59515-03c6-41de-b067-4b28444a82b8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "gblAttendee",
                "type": "string",
                "value": "@{triggerBody()['gblAttendee_Value']}"
              }
            ]
          }
        },
        "gblPhysicalDescription": {
          "runAfter": {
            "gblAttendee": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "556ebd68-18ba-4491-bfcb-3811138800c0"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "gblPhysicalDescription",
                "type": "string",
                "value": "@{triggerBody()['gblPhysicalDescription_Value']}"
              }
            ]
          }
        },
        "Post_adaptive_card_in_a_chat_or_channel": {
          "runAfter": {
            "gblPhysicalDescription": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "352efc20-8eae-4d4c-80ea-f676269cab45"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams",
              "operationId": "PostCardToConversation",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "poster": "Flow bot",
              "location": "Chat with Flow bot",
              "body/recipient": "@{variables('gblHost')};",
              "body/messageBody": "{\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.4\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"MIPCOM 2022 - New check-in\",\n            \"id\": \"Title\",\n            \"spacing\": \"Medium\",\n            \"size\": \"Large\",\n            \"weight\": \"Bold\",\n            \"color\": \"Accent\"\n        },\n{\n \"type\": \"TextBlock\",\n            \"text\":\"- **Attendee:** @{variables('gblAttendee')}\\r - **Physical description:** @{variables('gblPhysicalDescription')}\",\n\"id\":\"acCheckIn\",\n\"wrap\":true\n}\n]\n}"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}