Solutions/Flow Content/Flow Content/Workflows/AssetSeriesnamechanges-6482C096-93EA-ED11-8847-002248C6B834.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_12eb3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "baab6339-50cb-4d95-a11d-d4fb576694af"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "a3i_series",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "a3i_seriesname"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition_-_If_linktoassets_is_null_or_it_is_In_Dev": {
          "actions": {
            "Terminate": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b1a75c70-563f-4901-b840-aa30b71f8d5d"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Update_Title_in_Assets": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "9d29d537-5f4a-45bf-9b5a-0e27b0d5f0c3"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "a3i_assetses",
                    "recordId": "@triggerOutputs()?['body/_a3i_linktoassets_value']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@empty(triggerOutputs()?['body/_a3i_linktoassets_value'])",
                  true
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/a3i_seriesstatus']",
                  430830000
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "9c3d59ea-d9bf-4504-b6f6-6e43eee8fbc2"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}