Solutions/Flow Content/Flow Content/Workflows/BAContentLastmodifiedLegalNotes-15D99448-B4B3-EE11-A568-002248C6F979.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_32b14"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedoffice365_48fa5"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_6f1eb"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "35266c87-13c1-4cd9-b82d-596f16512179"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "a3i_series",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "a3i_balegalnotes"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Success": {
          "actions": {
            "Set_Power_Automate_Log_Succeeded": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9b36fdb0-5b0a-421c-870d-e4ec5cd46356"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "recordId": "@outputs('Create_Power_Automate_Log')?['body/a3i_powerautomatelogid']",
                  "item/statuscode": 3
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Actual_Solution": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ae41e8e4-4f2d-42df-9993-ed9fae649846"
          },
          "type": "Scope"
        },
        "Failure": {
          "actions": {
            "Send_Failure_Email": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "080dc842-25e1-4172-a2f6-0357ff4b18a8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@variables('ErrorEmail')",
                  "emailMessage/Subject": "@{variables('Environment')} - BA. Content Last Modified Legal Notes - Failed ",
                  "emailMessage/Body": "<p>Access the <a href=\"@{variables('PALog')}\">Power Automate Log</a>&nbsp;</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_Power_Automate_Log_Failed": {
              "runAfter": {
                "Send_Failure_Email": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "629c8c53-1834-4c35-9d07-9462a992842b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "recordId": "@outputs('Create_Power_Automate_Log')?['body/a3i_powerautomatelogid']",
                  "item/statuscode": 4
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Actual_Solution": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "7679575f-f9f7-4fde-a0fa-3d9c97ee20f4"
          },
          "type": "Scope"
        },
        "Initialize_Power_Automate_Log": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "dcde5108-bfcb-4728-9804-a37a063d5cc7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PALog",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Environment": {
          "runAfter": {
            "Initialize_Power_Automate_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0947ae52-61f8-4682-9a6c-f6b253b87435"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Error_Email": {
          "runAfter": {
            "Initialize_Environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a4a163a5-1cd6-49ad-acac-e038cada07e4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorEmail",
                "type": "string"
              }
            ]
          }
        },
        "Variables": {
          "actions": {
            "Get_Environment": {
              "runAfter": {
                "Create_Power_Automate_Log": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d1f6b76a-a5db-455b-b80f-cc823bd43918"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_flowvariableses",
                  "$filter": "a3i_name eq 'Environment'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Loop_Set_Environment": {
              "foreach": "@outputs('Get_Environment')?['body/value']",
              "actions": {
                "Set_Environment": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "580aa53c-919d-4dac-b985-3f5cdeb700c7"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Environment",
                    "value": "@items('Loop_Set_Environment')?['a3i_value']"
                  }
                }
              },
              "runAfter": {
                "Get_Environment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e5968a3d-41e3-4e47-974c-91045296e676"
              },
              "type": "Foreach"
            },
            "Get_Error_Email": {
              "runAfter": {
                "Loop_Set_Environment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d1f6b76a-a5db-455b-b80f-cc823bd43918"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_flowvariableses",
                  "$filter": "a3i_name eq 'ErrorEmail'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Loop_Set_Error_Email": {
              "foreach": "@outputs('Get_Error_Email')?['body/value']",
              "actions": {
                "Set_Error_Email": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3a0c5bca-9302-4caa-b369-8b51e04d4cfa"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ErrorEmail",
                    "value": "@items('Loop_Set_Error_Email')?['a3i_value']"
                  }
                }
              },
              "runAfter": {
                "Get_Error_Email": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c22b7fc2-4424-414c-b0f3-faa7eeb33313"
              },
              "type": "Foreach"
            },
            "Get_URL": {
              "runAfter": {
                "Loop_Set_Error_Email": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d1f6b76a-a5db-455b-b80f-cc823bd43918"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_flowvariableses",
                  "$filter": "a3i_name eq 'URL'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Loop_Set_Power_Automate_Log": {
              "foreach": "@outputs('Get_URL')?['body/value']",
              "actions": {
                "Set_Power_Automate_Log": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "db3867cb-865d-4aa8-bd6f-75114f384782"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "PALog",
                    "value": "@{items('Loop_Set_Power_Automate_Log')?['a3i_value']}a3i_powerautomatelog&id=@{outputs('Create_Power_Automate_Log')?['body/a3i_powerautomatelogid']}"
                  }
                }
              },
              "runAfter": {
                "Get_URL": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6e69c178-bfbc-4eea-97ad-948e8b125042"
              },
              "type": "Foreach"
            },
            "Create_Power_Automate_Log": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "750fbdea-bdc1-4f9a-ae70-b67d783cc213"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "item/a3i_name": "BA. Content Last Modified Legal Notes - @{utcNow()}",
                  "item/a3i_cloudflow": 430830028,
                  "item/a3i_runhistory": "@concat('https://unitedkingdom.flow.microsoft.com/manage/environments/',workflow()['tags']['environmentName'],'/flows/',workflow()['name'],'/runs/',workflow()['run']['name'])"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_Error_Email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1b5e1cd3-aca6-47f6-bda2-0ed343ef55eb"
          },
          "type": "Scope"
        },
        "Actual_Solution": {
          "actions": {
            "Compose-_Whats_the_date": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2725d786-7850-4d83-ba2a-bd933bce21bf"
              },
              "type": "Compose",
              "inputs": "@utcNow()"
            },
            "Update_a_row_with_last_modifed_date": {
              "runAfter": {
                "Compose-_Whats_the_date": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "89d80e5b-8170-4fd7-8202-bdab3c752f10"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_serieses",
                  "recordId": "@triggerOutputs()?['body/a3i_seriesid']",
                  "item/a3i_legalnoteslastmodified": "@outputs('Compose-_Whats_the_date')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Variables": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c9f3e616-63f3-43f2-aac4-23485699de32"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}