Solutions/Flow Content/Flow Content/Workflows/BroadcastPlatformConcatenatename-702CF0B6-D4F2-EF11-BE20-6045BD0B75A8.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_61216"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_32b14"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedoffice365_48fa5"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "589fe518-567e-4bee-a358-e362c9f4cb23"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "a3i_broadcastplatform",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "a3i_commissioningcountry"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_Environment": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4693d78b-73bf-462c-a1c6-53d7565316ac"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_PA_Log": {
          "runAfter": {
            "Initialize_Environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c2c3265c-2d54-49d6-94a3-5dbebeb4b795"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PALog",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_ErrorEmail": {
          "runAfter": {
            "Initialize_PA_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ef748b09-cdcf-4956-979e-06d06569b398"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorEmail",
                "type": "string"
              }
            ]
          }
        },
        "Condition_-_check_if_commissioning_country_contains_data_2": {
          "actions": {},
          "runAfter": {
            "Initialize_ErrorEmail": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Update_a_row_-_Update_the_Name_to_include_Commissioning_Country_in_the_table_2": {
                "runAfter": {
                  "Compose_-_concatenate_the_name_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "070228ec-ea27-4c50-8a64-0fc8c8b0c754"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "a3i_broadcastplatforms",
                    "recordId": "@triggerOutputs()?['body/a3i_broadcastplatformid']",
                    "item/a3i_name": "@outputs('Compose_-_concatenate_the_name_2')"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Scope_2": {
                "actions": {
                  "List_rows_4": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "01d9fc4c-ade5-4253-a573-487024154eb9"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "a3i_flowvariableses",
                        "$filter": "a3i_name eq 'ErrorEmail'"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Apply_to_each_4": {
                    "foreach": "@outputs('List_rows_4')?['body/value']",
                    "actions": {
                      "Set_Error_Email_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "7f2d1458-b35c-486d-8976-cdba79f67dac"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ErrorEmail",
                          "value": "@items('Apply_to_each_4')?['a3i_value']"
                        }
                      }
                    },
                    "runAfter": {
                      "List_rows_4": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "d725c3a3-63be-4510-84e6-a7404a323e24"
                    },
                    "type": "Foreach"
                  },
                  "Add_a_new_row_2": {
                    "runAfter": {
                      "Apply_to_each_4": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "bbd6cbc1-f328-4f63-a58a-38ee63bfe8e4"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "a3i_powerautomatelogs",
                        "item/a3i_name": "Broadcast Platform. Concatenate name - @{utcNow()}",
                        "item/a3i_runhistory": "@concat('https://unitedkingdom.flow.microsoft.com/manage/environments/', workflow()['tags']['environmentName'], '/flows/', workflow()['name'], '/runs/', workflow()['run']['name'])"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "List_rows_5": {
                    "runAfter": {
                      "Add_a_new_row_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "1c0a7a4e-b588-4b40-9d64-45022cc5c097"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "a3i_flowvariableses",
                        "$filter": "a3i_name eq 'URL'"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Apply_to_each_5": {
                    "foreach": "@outputs('List_rows_5')?['body/value']",
                    "actions": {
                      "Set_PA_Log_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "10fe06fe-aeeb-499c-af00-17fbc5c20241"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "PALog",
                          "value": "@{items('Apply_to_each_5')?['a3i_value']}a3i_powerautomatelog&id=@{outputs('Add_a_new_row_2')?['body/a3i_powerautomatelogid']}"
                        }
                      }
                    },
                    "runAfter": {
                      "List_rows_5": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "4665f711-2893-43ba-b380-7b0cd1ef6fce"
                    },
                    "type": "Foreach"
                  },
                  "List_rows_6": {
                    "runAfter": {
                      "Apply_to_each_5": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "1f70862e-dbd8-437b-9ca1-20a73a8575c2"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "a3i_flowvariableses",
                        "$filter": "a3i_name eq 'Environment'"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Apply_to_each_6": {
                    "foreach": "@outputs('List_rows_6')?['body/value']",
                    "actions": {
                      "Set_Environment_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "1c149388-48de-4e45-9ba4-15791337ae16"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Environment",
                          "value": "@items('Apply_to_each_6')?['a3i_value']"
                        }
                      }
                    },
                    "runAfter": {
                      "List_rows_6": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "29ae225a-a2d4-4562-8bf7-38588ddaba5f"
                    },
                    "type": "Foreach"
                  }
                },
                "runAfter": {
                  "Update_a_row_-_Update_the_Name_to_include_Commissioning_Country_in_the_table_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "e11a41d5-9249-480c-a61a-ee1ed01a9a5c"
                },
                "type": "Scope"
              },
              "Success_2": {
                "actions": {
                  "Set_Power_Automate_Log_Succeeded": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "9b36fdb0-5b0a-421c-870d-e4ec5cd46356"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "a3i_powerautomatelogs",
                        "recordId": "@outputs('Add_a_new_row_2')?['body/a3i_powerautomatelogid']",
                        "item/a3i_name": "Broadcast Platform. Concatenate name",
                        "item/statuscode": 3
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {
                  "Scope_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "ae41e8e4-4f2d-42df-9993-ed9fae649846"
                },
                "type": "Scope"
              },
              "Failure_2": {
                "actions": {
                  "Send_Failure_Email": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "080dc842-25e1-4172-a2f6-0357ff4b18a8"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_office365",
                        "operationId": "SendEmailV2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                      },
                      "parameters": {
                        "emailMessage/To": "@variables('ErrorEmail')",
                        "emailMessage/Subject": "@{variables('Environment')}  - Broadcast Platform. Concatenate name - Failed",
                        "emailMessage/Body": "<p>Access the <a href=\"@{variables('PALog')}\">Power Automate Log</a>&nbsp;</p>",
                        "emailMessage/Importance": "Normal"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_Power_Automate_Log_Failed": {
                    "runAfter": {
                      "Send_Failure_Email": [
                        "Failed",
                        "TimedOut"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "629c8c53-1834-4c35-9d07-9462a992842b"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "a3i_powerautomatelogs",
                        "recordId": "@outputs('Add_a_new_row_2')?['body/a3i_powerautomatelogid']",
                        "item/a3i_name": "Broadcast Platform. Concatenate name",
                        "item/statuscode": 4
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {
                  "Scope_2": [
                    "Failed",
                    "TimedOut"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "7679575f-f9f7-4fde-a0fa-3d9c97ee20f4"
                },
                "type": "Scope"
              },
              "Get_a_row_by_ID_-_get_the_Commissioning_Country_from_Countries_table_2": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "e5a7df74-52fb-430c-92af-1858682451c9"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "a3i_countries",
                    "recordId": "@triggerOutputs()?['body/_a3i_commissioningcountry_value']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Compose_-_concatenate_the_name_2": {
                "runAfter": {
                  "Get_a_row_by_ID_-_get_the_Commissioning_Country_from_Countries_table_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "8b45ad55-1990-436d-9f57-67d96dadb933"
                },
                "type": "Compose",
                "inputs": "@{triggerOutputs()?['body/a3i_name']} (@{outputs('Get_a_row_by_ID_-_get_the_Commissioning_Country_from_Countries_table_2')?['body/a3i_countryname']})"
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/_a3i_commissioningcountry_value']",
              "@null"
            ]
          },
          "metadata": {
            "operationMetadataId": "16589483-dea9-4688-975b-627f4c597a7d"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}