Solutions/Flow Content/Flow Content/Workflows/FormatOptionTracker-CA335716-0AEE-EF11-9342-002248C6BC9F.json
{
  "properties": {
    "connectionReferences": {
      "shared_conversionservice": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedconversionservice_662f6"
        },
        "api": {
          "name": "shared_conversionservice"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_da0aa"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_61216"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "2256e794-c287-4e77-8700-4b77952f3a8d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "annotation",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Html_to_text": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ea90949c-193e-4a81-ac0a-d8895f2486ea"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_conversionservice",
              "operationId": "HtmlToText",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
            },
            "parameters": {
              "Content": "<p class=\"editor-paragraph\">@{triggerOutputs()?['body/notetext']}</p>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_a_row": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0826600a-ef46-4432-a70e-7de7f5849bde"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "a3i_optionses",
              "recordId": "@triggerOutputs()?['body/_objectid_value']",
              "item/a3i_latestupdate": "@outputs('Compose')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_-_Environment": {
          "runAfter": {
            "Html_to_text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2c14d344-4a08-4374-8ac0-19f8b4ae9a0e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment",
                "type": "string"
              }
            ]
          }
        },
        "List_rows_to_get_environment": {
          "runAfter": {
            "Initialize_variable_-_Environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "49f22092-d9cb-47f6-926d-90a78d2441bb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "a3i_flowvariableses",
              "$filter": "a3i_name eq 'Environment'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "For_each": {
          "foreach": "@outputs('List_rows_to_get_environment')?['body/value']",
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "fcc17925-a742-4ffd-abc8-c5404927ddb3"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Environment",
                "value": "@item()?['a3i_value']"
              }
            }
          },
          "runAfter": {
            "List_rows_to_get_environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e5e9475-cdfc-49c8-ae1a-50e4c0084383"
          },
          "type": "Foreach"
        },
        "Compose": {
          "runAfter": {
            "Compose_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "088fb0f1-735b-4d48-a1af-cf86a8ea9bf0"
          },
          "type": "Compose",
          "inputs": "@{triggerOutputs()?['body/subject']}\n@{trim(coalesce(body('Html_to_text'), ''))\r\n}\n\n@{outputs('Compose_2')} - @{formatDateTime(triggerOutputs()?['body/modifiedon'], 'dd/MM/yyyy')}"
        },
        "Get_a_row_by_ID": {
          "runAfter": {
            "For_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e7c1d6de-0390-42f2-b68e-5607c1cd26f9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "annotations",
              "recordId": "@triggerOutputs()?['body/annotationid']",
              "$expand": "modifiedby($select=fullname)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose_2": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ab93e29f-a026-441f-a160-1cef3c40ceb0"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_a_row_by_ID')?['body/modifiedby/fullname']"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}