Solutions/Flow Content/Flow Content/Workflows/ProgrammeGetEpisodeTXDates12-RecurrenceTrigger-C597586C-53B6-EF11-B8E8-0022481BE50D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_da0aa"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_61216"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_32b14"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedoffice365_48fa5"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "schedule": {
              "hours": [
                "2"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "c4f470b6-1bc1-441a-a0f8-0b411877566c"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Initialize_variable_-_LatestTxDate": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "afed62bf-724b-410c-8d41-9c0d32fe6d11"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Latest TX Date",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-EarliestTX": {
          "runAfter": {
            "Initialize_variable_-_LatestTxDate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1116b94e-4ff0-4fe2-9e20-29c255c9d1c5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EarliestTXDate",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Environment": {
          "runAfter": {
            "Initialize_variable_-_EarliestTXArray": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4693d78b-73bf-462c-a1c6-53d7565316ac"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment",
                "type": "string"
              }
            ]
          }
        },
        "Scope_-_Audit_Log_Variables": {
          "actions": {
            "List_rows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "01d9fc4c-ade5-4253-a573-487024154eb9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_flowvariableses",
                  "$filter": "a3i_name eq 'ErrorEmail'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('List_rows')?['body/value']",
              "actions": {
                "Set_Error_Email": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "7f2d1458-b35c-486d-8976-cdba79f67dac"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ErrorEmail",
                    "value": "@items('Apply_to_each')?['a3i_value']"
                  }
                }
              },
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d725c3a3-63be-4510-84e6-a7404a323e24"
              },
              "type": "Foreach"
            },
            "Add_a_new_row": {
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bbd6cbc1-f328-4f63-a58a-38ee63bfe8e4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "item/a3i_name": "Programme. Get Episode TX Dates 2/3 - @{utcNow()}",
                  "item/a3i_runhistory": "@concat('https://unitedkingdom.flow.microsoft.com/manage/environments/', workflow()['tags']['environmentName'], '/flows/', workflow()['name'], '/runs/', workflow()['run']['name'])"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_rows_2": {
              "runAfter": {
                "Add_a_new_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1c0a7a4e-b588-4b40-9d64-45022cc5c097"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_flowvariableses",
                  "$filter": "a3i_name eq 'URL'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_2": {
              "foreach": "@outputs('List_rows_2')?['body/value']",
              "actions": {
                "Set_PA_Log": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "10fe06fe-aeeb-499c-af00-17fbc5c20241"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "PALog",
                    "value": "@{items('Apply_to_each_2')?['a3i_value']}a3i_powerautomatelog&id=@{outputs('Add_a_new_row')?['body/a3i_powerautomatelogid']}"
                  }
                }
              },
              "runAfter": {
                "List_rows_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4665f711-2893-43ba-b380-7b0cd1ef6fce"
              },
              "type": "Foreach"
            },
            "List_rows_3": {
              "runAfter": {
                "Apply_to_each_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1f70862e-dbd8-437b-9ca1-20a73a8575c2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_flowvariableses",
                  "$filter": "a3i_name eq 'Environment'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_3": {
              "foreach": "@outputs('List_rows_3')?['body/value']",
              "actions": {
                "Set_Environment": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1c149388-48de-4e45-9ba4-15791337ae16"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Environment",
                    "value": "@items('Apply_to_each_3')?['a3i_value']"
                  }
                }
              },
              "runAfter": {
                "List_rows_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "29ae225a-a2d4-4562-8bf7-38588ddaba5f"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_PA_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e11a41d5-9249-480c-a61a-ee1ed01a9a5c"
          },
          "type": "Scope"
        },
        "Initialize_ErrorEmail": {
          "runAfter": {
            "Initialize_Environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ef748b09-cdcf-4956-979e-06d06569b398"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorEmail",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_PA_Log": {
          "runAfter": {
            "Initialize_ErrorEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c2c3265c-2d54-49d6-94a3-5dbebeb4b795"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PALog",
                "type": "string"
              }
            ]
          }
        },
        "Scope_-_Actual_Solution": {
          "actions": {
            "List_rows_from_selected_environment_-Programme": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "465622b2-5884-40ef-8a4b-43712da98acd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecordsWithOrganization",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "organization": "current",
                  "entityName": "a3i_programmes"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Scope_-_latest_tx_date": {
              "actions": {
                "Apply_to_each_-_Programme_Result_to_ensure_latest_Tx_is_accurate": {
                  "foreach": "@outputs('List_rows_from_selected_environment_-Programme')?['body/value']",
                  "actions": {
                    "Compose_-_identify_programme": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "639c824d-728d-4648-b23d-5f2b1d6e272d"
                      },
                      "type": "Compose",
                      "inputs": "@items('Apply_to_each_-_Programme_Result_to_ensure_latest_Tx_is_accurate')?['a3i_programmename']",
                      "description": "This is here for troubleshooting"
                    },
                    "Condition_-_is_latest_TX_date_prgramme_empty": {
                      "actions": {
                        "Set_variable_-_ClearForNextRun": {
                          "runAfter": {
                            "Condition_-_is_series_latest_tx_date_empty": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2f2ebee5-b075-4c3a-a204-d88599088ace"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Latest TX Date",
                            "value": "@{null}"
                          }
                        },
                        "Condition_-_is_series_latest_tx_date_empty": {
                          "actions": {},
                          "runAfter": {},
                          "else": {
                            "actions": {
                              "Update_a_row_in_selected_environment_-Latest_Tx_date_Programme": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "33820268-f9bf-4ad9-bce2-887aa9b52f1c"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "UpdateRecordWithOrganization",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "organization": "current",
                                    "entityName": "a3i_programmes",
                                    "recordId": "@items('Apply_to_each_-_Programme_Result_to_ensure_latest_Tx_is_accurate')?['a3i_programmeid']",
                                    "item/a3i_latesttxdate": "@variables('Latest TX Date')"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@empty(variables('Latest TX Date'))",
                              true
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "77d78649-79b2-47c2-8894-4d931ca9bb1a"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Apply_to_each_-_Lastest_TX_Date_of_All_Series": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Condition_-_Latest_TX_Date_-_Is_Programme_Tx_greater_than_Series": {
                            "actions": {
                              "Set_variable_-_ClearForNextRun_3": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "c8574489-1ee8-4f4c-b746-95db850333a3"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "Latest TX Date",
                                  "value": "@{null}"
                                }
                              }
                            },
                            "runAfter": {},
                            "else": {
                              "actions": {
                                "Update_a_row_in_selected_environment": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "33820268-f9bf-4ad9-bce2-887aa9b52f1c"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateRecordWithOrganization",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "organization": "current",
                                      "entityName": "a3i_programmes",
                                      "recordId": "@items('Apply_to_each_-_Programme_Result_to_ensure_latest_Tx_is_accurate')?['a3i_programmeid']",
                                      "item/a3i_latesttxdate": "@variables('Latest TX Date')"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                },
                                "Set_variable_-_ClearForNextRun_2": {
                                  "runAfter": {
                                    "Update_a_row_in_selected_environment": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "aed4cf76-84db-4e9a-924f-44682cda7a0a"
                                  },
                                  "type": "SetVariable",
                                  "inputs": {
                                    "name": "Latest TX Date",
                                    "value": "@{null}"
                                  }
                                }
                              }
                            },
                            "expression": {
                              "greater": [
                                "@items('Apply_to_each_-_Programme_Result_to_ensure_latest_Tx_is_accurate')?['a3i_latesttxdate']",
                                "@variables('Latest TX Date')"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "21b79535-8611-4355-83ad-233901c313fc"
                            },
                            "type": "If"
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@empty(items('Apply_to_each_-_Programme_Result_to_ensure_latest_Tx_is_accurate')?['a3i_latesttxdate'])",
                          true
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6e986c81-388c-49f1-a345-cd42a51073cd"
                      },
                      "type": "If"
                    },
                    "Compose_-_TXDate_from_Programme": {
                      "runAfter": {
                        "Compose_-_identify_programme": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "9d46cd0b-1f37-4a53-8620-61af739dcdad"
                      },
                      "type": "Compose",
                      "inputs": "@items('Apply_to_each_-_Programme_Result_to_ensure_latest_Tx_is_accurate')?['a3i_latesttxdate']",
                      "description": "Here for troubleshooting"
                    },
                    "List_Rows_-_Series_For_This_Programme": {
                      "runAfter": {
                        "Compose_-_TXDate_from_Programme": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "837a5ede-b427-4604-87ae-11d3704c5f2f"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "a3i_serieses",
                          "$select": "a3i_latesttxdate",
                          "$filter": "_a3i_programme_value eq '@{items('Apply_to_each_-_Programme_Result_to_ensure_latest_Tx_is_accurate')?['a3i_programmeid']}'",
                          "$orderby": "a3i_lastepisodetxdate desc",
                          "$top": 1
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Apply_to_each_-_Lastest_TX_Date_of_All_Series": {
                      "foreach": "@outputs('List_Rows_-_Series_For_This_Programme')?['body/value']",
                      "actions": {
                        "Set_variable_-_Series_LatestTX": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "9c5cd793-2b64-4b12-a134-dfba19226933"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Latest TX Date",
                            "value": "@{items('Apply_to_each_-_Lastest_TX_Date_of_All_Series')?['a3i_lastepisodetxdate']}"
                          }
                        }
                      },
                      "runAfter": {
                        "List_Rows_-_Series_For_This_Programme": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ae2ec81c-21f3-48ed-a4fc-244b20a08f69"
                      },
                      "type": "Foreach"
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "dc8ffa7a-213d-44d9-a694-2b44da4debe2"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "List_rows_from_selected_environment_-Programme": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a087074-3f27-401b-8228-7d75d54269a0"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Scope_-_Audit_Log_Variables": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "10bea21d-04ea-4f01-9e79-233b510e32b6"
          },
          "type": "Scope"
        },
        "Initialize_variable_-_EarliestTXArray": {
          "runAfter": {
            "Initialize_variable_-EarliestTX": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "95db354c-0614-4f43-95d6-0faaec0a25b5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EarliestTXArray",
                "type": "array"
              }
            ]
          }
        },
        "Scope_-_Earliest_Tx_Date_-_Moved_here_due_to_requirements_change": {
          "actions": {
            "List_rows_from_selected_environment_-_Episodes_for_each_series": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "cab972bb-fe46-4116-8106-493f90bf06ae"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecordsWithOrganization",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "organization": "current",
                  "entityName": "a3i_episodes",
                  "$select": "a3i_episodepremieredate",
                  "$filter": "_a3i_series_value eq ''",
                  "$orderby": "a3i_episodepremieredate asc"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_-_isthereadate": {
              "actions": {
                "Apply_to_each_-_Programme_Returned_to_ensure_Earliest_TX_is_accurate": {
                  "foreach": "@outputs('List_rows_from_selected_environment_-Programme')?['body/value']",
                  "actions": {
                    "Condition_-_is_First_TX_date_empty": {
                      "actions": {
                        "Update_a_row_in_selected_environment__-_First_Ever_TX_Date": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "cfb5488c-86aa-4abe-918f-79e8e4aad7ee"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateRecordWithOrganization",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "organization": "current",
                              "entityName": "a3i_programmes",
                              "recordId": "@items('Apply_to_each_-_Programme_Returned_to_ensure_Earliest_TX_is_accurate')?['a3i_programmeid']",
                              "item/a3i_txdate": "@variables('EarliestTXDate')"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Condition_-_Is_Earliest_Premiere_Date_accurate": {
                            "actions": {},
                            "runAfter": {},
                            "else": {
                              "actions": {
                                "Update_a_row_in_selected_environment__-_First_TX_Date": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "cfb5488c-86aa-4abe-918f-79e8e4aad7ee"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateRecordWithOrganization",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "organization": "current",
                                      "entityName": "a3i_programmes",
                                      "recordId": "@items('Apply_to_each_-_Programme_Returned_to_ensure_Earliest_TX_is_accurate')?['a3i_programmeid']",
                                      "item/a3i_txdate": "@variables('EarliestTXDate')"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                }
                              }
                            },
                            "expression": {
                              "equals": [
                                "@variables('EarliestTXDate')",
                                "@items('Apply_to_each_-_Programme_Returned_to_ensure_Earliest_TX_is_accurate')?['a3i_txdate']"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "8b059c2a-2261-41e3-bb74-771acac92351"
                            },
                            "type": "If"
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@empty(items('Apply_to_each_-_Programme_Returned_to_ensure_Earliest_TX_is_accurate')?['a3i_txdate'])",
                          true
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ba1f7147-8ddd-44de-ae98-3bbdb8cf12e1"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "05ff6c71-dfca-4a7a-af0c-26f65b351255"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Set_variable_-_EarliestTxDate": [
                  "Succeeded"
                ]
              },
              "expression": {
                "greater": [
                  "@length(variables('EarliestTXDate'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "44303bab-be16-47cb-bbe7-8ddb9f657c0a"
              },
              "type": "If"
            },
            "Apply_to_each_-_getridofemptyeps": {
              "foreach": "@outputs('List_rows_from_selected_environment_-_Episodes_for_each_series')?['body/value']",
              "actions": {
                "Condition_-_OnlyEpsWithDates": {
                  "actions": {
                    "Append_to_array_variable_for_valid_eps_dates": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "2b3fb1a5-ea0a-4f24-b776-fa1a998bf122"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "EarliestTXArray",
                        "value": "@items('Apply_to_each_-_getridofemptyeps')?['a3i_episodepremieredate']"
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "not": {
                      "equals": [
                        "@empty(items('Apply_to_each_-_getridofemptyeps')?['a3i_episodepremieredate'])",
                        true
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "c29793ed-6ce8-40dd-b08e-1b08c6969dee"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "List_rows_from_selected_environment_-_Episodes_for_each_series": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c8e90712-2bd9-4494-9a76-8c40945cb2c2"
              },
              "type": "Foreach"
            },
            "Compose_-Sortbyearliest": {
              "runAfter": {
                "Apply_to_each_-_getridofemptyeps": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7d05b010-8d16-4ebb-8b1e-4d72a5603b5e"
              },
              "type": "Compose",
              "inputs": "@sort(variables('EarliestTXArray'))"
            },
            "Set_variable_-_EarliestTxDate": {
              "runAfter": {
                "Compose_-Sortbyearliest": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a44145ed-0b7b-46c8-be2d-cf4cc3130846"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "EarliestTXDate",
                "value": "@{first(outputs('Compose_-Sortbyearliest'))}"
              }
            }
          },
          "runAfter": {
            "Failure_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b7dc6185-b9c4-4e3d-b794-a9047134d27e"
          },
          "type": "Scope"
        },
        "Success": {
          "actions": {
            "Set_Power_Automate_Log_Succeeded": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9b36fdb0-5b0a-421c-870d-e4ec5cd46356"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "recordId": "@outputs('Add_a_new_row')?['body/a3i_powerautomatelogid']",
                  "item/statuscode": 3
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Scope_-_Actual_Solution": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ae41e8e4-4f2d-42df-9993-ed9fae649846"
          },
          "type": "Scope"
        },
        "Failure_2": {
          "actions": {
            "Send_Failure_Email_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "080dc842-25e1-4172-a2f6-0357ff4b18a8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@variables('ErrorEmail')",
                  "emailMessage/Subject": "@{variables('Environment')}  - Programme. Get Episode TX Dates 2/3 - Failed",
                  "emailMessage/Body": "<p>Access the <a href=\"@{variables('PALog')}\">Power Automate Log</a>&nbsp;</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_Power_Automate_Log_Failed_2": {
              "runAfter": {
                "Send_Failure_Email_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "629c8c53-1834-4c35-9d07-9462a992842b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "recordId": "@outputs('Add_a_new_row')?['body/a3i_powerautomatelogid']",
                  "item/statuscode": 4
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Terminate": {
              "runAfter": {
                "Set_Power_Automate_Log_Failed_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d8f77f4d-fccb-4c14-ada2-4a1a9e40fdaa"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            }
          },
          "runAfter": {
            "Scope_-_Actual_Solution": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "7679575f-f9f7-4fde-a0fa-3d9c97ee20f4"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}