Solutions/Flow Content/Flow Content/Workflows/SalesSlateCleanUp-07E192F6-301A-ED11-B83F-0022481B5E9E.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedsharepointonline_b7aba"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_12eb3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_32b14"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_32b14"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedoffice365_48fa5"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "startTime": "2022-08-12T09:00:00Z",
            "schedule": {
              "weekDays": [
                "Sunday"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "a4ffe21a-897b-4dd9-9c68-2b01945f4255"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Initialize_Variable_Site": {
          "runAfter": {
            "Get_1_Week_Ago": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e26d9489-6921-4ff4-9108-56d78fcb3e9d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Site",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Variable_Folder": {
          "runAfter": {
            "Initialize_Variable_Site": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "28244d61-4d20-4dd7-8ab4-ef525f78b767"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Folder",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Variable_PA_History": {
          "runAfter": {
            "Initialize_Variable_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1b3486bf-dbc7-4785-a611-6f07d4b70d85"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PA History",
                "type": "string",
                "value": "@{concat('https://unitedkingdom.flow.microsoft.com/manage/environments/',workflow()['tags']['environmentName'],'/flows/',workflow()['name'],'/runs/',workflow()['run']['name'])}"
              }
            ]
          }
        },
        "Get_Folder": {
          "runAfter": {
            "Loop_Set_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "df59d215-bc29-4ed7-beff-c963680502b9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetFolderMetadataByPath",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@variables('Site')",
              "path": "/Shared Documents/General/@{variables('Folder')}/Archive"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_Files_in_Folder": {
          "runAfter": {
            "Get_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f0d2744b-365e-421d-8e26-5a202f5dee5d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "ListFolder",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@variables('Site')",
              "id": "@outputs('Get_Folder')?['body/Id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Loop_Files": {
          "foreach": "@body('List_Files_in_Folder')",
          "actions": {
            "Check_if_Older_than_7_Days": {
              "actions": {},
              "runAfter": {},
              "else": {
                "actions": {
                  "Delete_file": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "33b60104-fbf4-4f88-9444-797009bffb9f"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_sharepointonline",
                        "operationId": "DeleteFile",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                      },
                      "parameters": {
                        "dataset": "@variables('Site')",
                        "id": "@item()?['Id']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@item()?['LastModified']",
                  "@body('Get_1_Week_Ago')"
                ]
              },
              "metadata": {
                "operationMetadataId": "2d51bb8a-cf40-4f7d-ac26-45e2ae6e3513"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_Files_in_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6711eb5f-4a37-4447-bfb4-708d4ed929ab"
          },
          "type": "Foreach"
        },
        "Get_1_Week_Ago": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d594236c-8049-4f66-b2cb-43b5e40e3017"
          },
          "type": "Expression",
          "kind": "SubtractFromTime",
          "inputs": {
            "baseTime": "@{utcNow()}",
            "interval": 7,
            "timeUnit": "Day"
          }
        },
        "Get_Sales_Slate_Site": {
          "runAfter": {
            "Scope": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d1f6b76a-a5db-455b-b80f-cc823bd43918"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "a3i_flowvariableses",
              "$filter": "a3i_name eq 'SalesSlateSite'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Sales_Slate_Folder": {
          "runAfter": {
            "Loop_Set_Site": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d1f6b76a-a5db-455b-b80f-cc823bd43918"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "a3i_flowvariableses",
              "$filter": "a3i_name eq 'SalesSlateFolder'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Loop_Set_Site": {
          "foreach": "@outputs('Get_Sales_Slate_Site')?['body/value']",
          "actions": {
            "Set_Site": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a717442f-e320-46f5-942b-a42c16c4ada6"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Site",
                "value": "@items('Loop_Set_Site')?['a3i_value']"
              }
            }
          },
          "runAfter": {
            "Get_Sales_Slate_Site": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b1ba2605-2100-49ad-9cf3-0662695c88d5"
          },
          "type": "Foreach"
        },
        "Loop_Set_Folder": {
          "foreach": "@outputs('Get_Sales_Slate_Folder')?['body/value']",
          "actions": {
            "Set_Folder": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a44495af-1944-48c2-8872-669f90847be7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Folder",
                "value": "@items('Loop_Set_Folder')?['a3i_value']"
              }
            }
          },
          "runAfter": {
            "Get_Sales_Slate_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c9c662c0-50a9-4d69-be47-b9eeac9cbc1e"
          },
          "type": "Foreach"
        },
        "Initialize_Environment": {
          "runAfter": {
            "Initialize_Variable_PA_History": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4693d78b-73bf-462c-a1c6-53d7565316ac"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_PA_Log": {
          "runAfter": {
            "Initialize_Environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c2c3265c-2d54-49d6-94a3-5dbebeb4b795"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PALog",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_ErrorEmail": {
          "runAfter": {
            "Initialize_PA_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ef748b09-cdcf-4956-979e-06d06569b398"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorEmail",
                "type": "string"
              }
            ]
          }
        },
        "Scope": {
          "actions": {
            "List_rows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "01d9fc4c-ade5-4253-a573-487024154eb9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_flowvariableses",
                  "$filter": "a3i_name eq 'ErrorEmail'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('List_rows')?['body/value']",
              "actions": {
                "Set_Error_Email": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "7f2d1458-b35c-486d-8976-cdba79f67dac"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ErrorEmail",
                    "value": "@items('Apply_to_each')?['a3i_value']"
                  }
                }
              },
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d725c3a3-63be-4510-84e6-a7404a323e24"
              },
              "type": "Foreach"
            },
            "Add_a_new_row": {
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bbd6cbc1-f328-4f63-a58a-38ee63bfe8e4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "item/a3i_name": "Sales Slate Clean Up - @{utcNow()}",
                  "item/a3i_runhistory": "@concat('https://unitedkingdom.flow.microsoft.com/manage/environments/', workflow()['tags']['environmentName'], '/flows/', workflow()['name'], '/runs/', workflow()['run']['name'])"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_rows_2": {
              "runAfter": {
                "Add_a_new_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1c0a7a4e-b588-4b40-9d64-45022cc5c097"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_flowvariableses",
                  "$filter": "a3i_name eq 'URL'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_2": {
              "foreach": "@outputs('List_rows_2')?['body/value']",
              "actions": {
                "Set_PA_Log": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "10fe06fe-aeeb-499c-af00-17fbc5c20241"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "PALog",
                    "value": "@{items('Apply_to_each_2')?['a3i_value']}a3i_powerautomatelog&id=@{outputs('Add_a_new_row')?['body/a3i_powerautomatelogid']}"
                  }
                }
              },
              "runAfter": {
                "List_rows_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4665f711-2893-43ba-b380-7b0cd1ef6fce"
              },
              "type": "Foreach"
            },
            "List_rows_3": {
              "runAfter": {
                "Apply_to_each_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1f70862e-dbd8-437b-9ca1-20a73a8575c2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_flowvariableses",
                  "$filter": "a3i_name eq 'Environment'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_3": {
              "foreach": "@outputs('List_rows_3')?['body/value']",
              "actions": {
                "Set_Environment": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1c149388-48de-4e45-9ba4-15791337ae16"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Environment",
                    "value": "@items('Apply_to_each_3')?['a3i_value']"
                  }
                }
              },
              "runAfter": {
                "List_rows_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "29ae225a-a2d4-4562-8bf7-38588ddaba5f"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_ErrorEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e11a41d5-9249-480c-a61a-ee1ed01a9a5c"
          },
          "type": "Scope"
        },
        "Success": {
          "actions": {
            "Set_Power_Automate_Log_Succeeded": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9b36fdb0-5b0a-421c-870d-e4ec5cd46356"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "recordId": "@outputs('Add_a_new_row')?['body/a3i_powerautomatelogid']",
                  "item/statuscode": 3
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Loop_Files": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ae41e8e4-4f2d-42df-9993-ed9fae649846"
          },
          "type": "Scope"
        },
        "Failure": {
          "actions": {
            "Send_Failure_Email": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "080dc842-25e1-4172-a2f6-0357ff4b18a8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@variables('ErrorEmail')",
                  "emailMessage/Subject": "@{variables('Environment')}  - Sales Slate Clean Up - Failed",
                  "emailMessage/Body": "<p>Access the <a href=\"@{variables('PALog')}\">Power Automate Log</a>&nbsp;</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_Power_Automate_Log_Failed": {
              "runAfter": {
                "Send_Failure_Email": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "629c8c53-1834-4c35-9d07-9462a992842b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "recordId": "@outputs('Add_a_new_row')?['body/a3i_powerautomatelogid']",
                  "item/statuscode": 4
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Loop_Files": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "7679575f-f9f7-4fde-a0fa-3d9c97ee20f4"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}