Solutions/Flow Content/Flow Content/Workflows/SeriesSeriesStatusisInDevelopment-8431BDA7-4F3C-EE11-BDF4-002248C6F0E7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_12eb3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_32b14"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedoffice365_48fa5"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "98656a56-5bca-4d27-90b8-c960c53fb36a"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "a3i_series",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "a3i_seriesstatus"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Update_a_row_-_change_slot_time_and_quality_to_development": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "87c10653-9df5-4cdb-8014-42574c8e9394"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_serieses",
                  "recordId": "@triggerOutputs()?['body/a3i_seriesid']",
                  "item/a3i_definition": "430830005",
                  "item/a3i_slotlength": "430830011"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Scope": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Condition_-_Quality_=_Development_": {
                "actions": {
                  "Update_a_row_-_Clear_the_Quality_field": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "54a46909-9c4d-4776-9b27-b6679ff41bd1"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "a3i_serieses",
                        "recordId": "@triggerOutputs()?['body/a3i_seriesid']",
                        "item/a3i_definition": "@null"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {},
                "expression": {
                  "equals": [
                    "@triggerOutputs()?['body/a3i_definition']",
                    "430830005"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "08f96667-17e6-437b-ba86-e4533be64e32"
                },
                "type": "If"
              },
              "Condition_-_Slot_Length_=_Development_": {
                "actions": {
                  "Update_a_row_-_Clear_Slot_Length_field": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "8c7b53eb-b0a4-4d4d-9953-1023e2c0a360"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "a3i_serieses",
                        "recordId": "@triggerOutputs()?['body/a3i_seriesid']",
                        "item/a3i_slotlength": "@null"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {
                  "Condition_-_Quality_=_Development_": [
                    "Succeeded"
                  ]
                },
                "expression": {
                  "equals": [
                    "@triggerOutputs()?['body/a3i_slotlength']",
                    "430830011"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "84a7f5c0-dd69-4dca-9369-292aebc66acf"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/a3i_seriesstatus']",
              430830000
            ]
          },
          "metadata": {
            "operationMetadataId": "0db9ebda-c055-45f3-b5ff-95ea7e59e88c"
          },
          "type": "If"
        },
        "Initialize_Environment": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4693d78b-73bf-462c-a1c6-53d7565316ac"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_PA_Log": {
          "runAfter": {
            "Initialize_Environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c2c3265c-2d54-49d6-94a3-5dbebeb4b795"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PALog",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_ErrorEmail": {
          "runAfter": {
            "Initialize_PA_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ef748b09-cdcf-4956-979e-06d06569b398"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorEmail",
                "type": "string"
              }
            ]
          }
        },
        "Scope": {
          "actions": {
            "List_rows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "01d9fc4c-ade5-4253-a573-487024154eb9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_flowvariableses",
                  "$filter": "a3i_name eq 'ErrorEmail'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('List_rows')?['body/value']",
              "actions": {
                "Set_Error_Email": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "7f2d1458-b35c-486d-8976-cdba79f67dac"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ErrorEmail",
                    "value": "@items('Apply_to_each')?['a3i_value']"
                  }
                }
              },
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d725c3a3-63be-4510-84e6-a7404a323e24"
              },
              "type": "Foreach"
            },
            "Add_a_new_row": {
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bbd6cbc1-f328-4f63-a58a-38ee63bfe8e4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "item/a3i_name": "Series. Series Status is In Development - @{utcNow()}",
                  "item/a3i_runhistory": "@concat('https://unitedkingdom.flow.microsoft.com/manage/environments/', workflow()['tags']['environmentName'], '/flows/', workflow()['name'], '/runs/', workflow()['run']['name'])"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_rows_2": {
              "runAfter": {
                "Add_a_new_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1c0a7a4e-b588-4b40-9d64-45022cc5c097"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_flowvariableses",
                  "$filter": "a3i_name eq 'URL'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_2": {
              "foreach": "@outputs('List_rows_2')?['body/value']",
              "actions": {
                "Set_PA_Log": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "10fe06fe-aeeb-499c-af00-17fbc5c20241"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "PALog",
                    "value": "@{items('Apply_to_each_2')?['a3i_value']}a3i_powerautomatelog&id=@{outputs('Add_a_new_row')?['body/a3i_powerautomatelogid']}"
                  }
                }
              },
              "runAfter": {
                "List_rows_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4665f711-2893-43ba-b380-7b0cd1ef6fce"
              },
              "type": "Foreach"
            },
            "List_rows_3": {
              "runAfter": {
                "Apply_to_each_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1f70862e-dbd8-437b-9ca1-20a73a8575c2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_flowvariableses",
                  "$filter": "a3i_name eq 'Environment'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_3": {
              "foreach": "@outputs('List_rows_3')?['body/value']",
              "actions": {
                "Set_Environment": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1c149388-48de-4e45-9ba4-15791337ae16"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Environment",
                    "value": "@items('Apply_to_each_3')?['a3i_value']"
                  }
                }
              },
              "runAfter": {
                "List_rows_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "29ae225a-a2d4-4562-8bf7-38588ddaba5f"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_ErrorEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e11a41d5-9249-480c-a61a-ee1ed01a9a5c"
          },
          "type": "Scope"
        },
        "Success": {
          "actions": {
            "Set_Power_Automate_Log_Succeeded": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9b36fdb0-5b0a-421c-870d-e4ec5cd46356"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "recordId": "@outputs('Add_a_new_row')?['body/a3i_powerautomatelogid']",
                  "item/statuscode": 3
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ae41e8e4-4f2d-42df-9993-ed9fae649846"
          },
          "type": "Scope"
        },
        "Failure": {
          "actions": {
            "Send_Failure_Email": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "080dc842-25e1-4172-a2f6-0357ff4b18a8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@variables('ErrorEmail')",
                  "emailMessage/Subject": "@{variables('Environment')}  - Series. Series Status is In Development - Failed",
                  "emailMessage/Body": "<p>Access the <a href=\"@{variables('PALog')}\">Power Automate Log</a>&nbsp;</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_Power_Automate_Log_Failed": {
              "runAfter": {
                "Send_Failure_Email": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "629c8c53-1834-4c35-9d07-9462a992842b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "recordId": "@outputs('Add_a_new_row')?['body/a3i_powerautomatelogid']",
                  "item/statuscode": 4
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Condition": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "7679575f-f9f7-4fde-a0fa-3d9c97ee20f4"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}