Solutions/Flow Content/Flow Content/Workflows/TemplateCloudFlow-ABFB6EE9-6ABC-ED11-83FE-002248C6C2D1.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedcommondataserviceforapps_12eb3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "a3i_sharedoffice365_48fa5"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "80172c76-1356-49fe-9fd7-b388f5223cd5"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Scope": {
          "actions": {
            "Variables": {
              "actions": {
                "Get_Environment": {
                  "runAfter": {
                    "Create_Power_Automate_Log": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d1f6b76a-a5db-455b-b80f-cc823bd43918"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "a3i_flowvariableses",
                      "$filter": "a3i_name eq 'Environment'"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Loop_Set_Environment": {
                  "foreach": "@outputs('Get_Environment')?['body/value']",
                  "actions": {
                    "Set_Environment": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "580aa53c-919d-4dac-b985-3f5cdeb700c7"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Environment",
                        "value": "@items('Loop_Set_Environment')?['a3i_value']"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_Environment": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e5968a3d-41e3-4e47-974c-91045296e676"
                  },
                  "type": "Foreach"
                },
                "Get_Error_Email": {
                  "runAfter": {
                    "Loop_Set_Environment": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d1f6b76a-a5db-455b-b80f-cc823bd43918"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "a3i_flowvariableses",
                      "$filter": "a3i_name eq 'ErrorEmail'"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Loop_Set_Error_Email": {
                  "foreach": "@outputs('Get_Error_Email')?['body/value']",
                  "actions": {
                    "Set_Error_Email": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3a0c5bca-9302-4caa-b369-8b51e04d4cfa"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ErrorEmail",
                        "value": "@items('Loop_Set_Error_Email')?['a3i_value']"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_Error_Email": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c22b7fc2-4424-414c-b0f3-faa7eeb33313"
                  },
                  "type": "Foreach"
                },
                "Get_URL": {
                  "runAfter": {
                    "Loop_Set_Error_Email": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d1f6b76a-a5db-455b-b80f-cc823bd43918"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "a3i_flowvariableses",
                      "$filter": "a3i_name eq 'URL'"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Loop_Set_Power_Automate_Log": {
                  "foreach": "@outputs('Get_URL')?['body/value']",
                  "actions": {
                    "Set_Power_Automate_Log": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "db3867cb-865d-4aa8-bd6f-75114f384782"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "PALog",
                        "value": "@{items('Loop_Set_Power_Automate_Log')?['a3i_value']}a3i_powerautomatelog&id=@{outputs('Create_Power_Automate_Log')?['body/a3i_powerautomatelogid']}"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_URL": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6e69c178-bfbc-4eea-97ad-948e8b125042"
                  },
                  "type": "Foreach"
                },
                "Create_Power_Automate_Log": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "750fbdea-bdc1-4f9a-ae70-b67d783cc213"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "a3i_powerautomatelogs",
                      "item/a3i_name": "Template Cloud Flow - @{utcNow()}",
                      "item/a3i_cloudflow": 430830028,
                      "item/a3i_runhistory": "@concat('https://unitedkingdom.flow.microsoft.com/manage/environments/',workflow()['tags']['environmentName'],'/flows/',workflow()['name'],'/runs/',workflow()['run']['name'])"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1b5e1cd3-aca6-47f6-bda2-0ed343ef55eb"
              },
              "type": "Scope"
            },
            "Template": {
              "actions": {},
              "runAfter": {
                "Variables": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c9f3e616-63f3-43f2-aac4-23485699de32"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Initialize_Error_Email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d65780d6-7caf-4a30-9e99-3d756c7c6cb3"
          },
          "type": "Scope"
        },
        "Success": {
          "actions": {
            "Set_Power_Automate_Log_Succeeded": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9b36fdb0-5b0a-421c-870d-e4ec5cd46356"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "recordId": "@outputs('Create_Power_Automate_Log')?['body/a3i_powerautomatelogid']",
                  "item/statuscode": 3
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Scope": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ae41e8e4-4f2d-42df-9993-ed9fae649846"
          },
          "type": "Scope"
        },
        "Failure": {
          "actions": {
            "Send_Failure_Email": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "080dc842-25e1-4172-a2f6-0357ff4b18a8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@variables('ErrorEmail')",
                  "emailMessage/Subject": "@{variables('Environment')} - Template Cloud Flow - Failed ",
                  "emailMessage/Body": "<p>Access the <a href=\"@{variables('PALog')}\">Power Automate Log</a>&nbsp;</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Set_Power_Automate_Log_Failed": {
              "runAfter": {
                "Send_Failure_Email": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "629c8c53-1834-4c35-9d07-9462a992842b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "a3i_powerautomatelogs",
                  "recordId": "@outputs('Create_Power_Automate_Log')?['body/a3i_powerautomatelogid']",
                  "item/statuscode": 4
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Scope": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "7679575f-f9f7-4fde-a0fa-3d9c97ee20f4"
          },
          "type": "Scope"
        },
        "Initialize_Power_Automate_Log": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "dcde5108-bfcb-4728-9804-a37a063d5cc7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PALog",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Environment": {
          "runAfter": {
            "Initialize_Power_Automate_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0947ae52-61f8-4682-9a6c-f6b253b87435"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Error_Email": {
          "runAfter": {
            "Initialize_Environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a4a163a5-1cd6-49ad-acac-e038cada07e4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorEmail",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}